<div class="container">
  <div class="row">
    <h1 class="text-center"><img src="/img/luchuan_sm.png" alt="luchuan" class="img-luchuan-sm"/> 鹿船</h1>
  </div>
  <hr/>

  <div class="row">
    <div class="col-xs-12">
      <div class="well chat-display">

        <ul class="bubble-list">
          <li ng-repeat="msg in msgs track by $index">
            <div class="ab-wrapper {{ msg.self === true ? 'ab-wrapper-right' : 'ab-wrapper-left' }}">
              <div class="avatar">{{ msg.username.slice(0, 1) }}</div>
              <div class="avatar-name">{{ msg.username }}</div>
              <div class="bubble">{{ msg.content }}</div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="row">
    <form action="">
      <div class="col-xs-12 col-sm-10">
        <input type="text" class="form-control" ng-model="content">
      </div>
      <div class="col-xs-12 col-sm-2">
        <button type="submit" class="btn btn-luchuan btn-block" ng-click="sendSelfMessage()">发言</button>
      </div>
    </form>
  </div>

  <hr/>
  <!--Brower ID: {{bid}}-->
  <!--<hr/>-->
</div>



