<div class="container">
  <div class="row">
    <h1 class="text-center">欢迎来到 <img src="/img/luchuan_sm.png" alt="luchuan" class="img-luchuan-sm"/> 鹿船</h1>
  </div>
  <hr/>

  <div class="row text-center">
    <div class="col-xs-12">
      <p>选择你的昵称</p>
      <p>（慎重！会与你的设备绑定，不能修改）</p>
    </div>
    <div class="col-xs-12">
      <select ng-model="selectedname" ng-options="name for name in names"></select>
    </div>
  </div>
  <hr/>

  <div class="row text-center">
    <div class="col-xs-12">
      <p>选择你要踩的船</p>
    </div>
    <div class="col-xs-12">
      <select ng-model="selectedboat" ng-options="boat for boat in boats"></select>
    </div>
  </div>
  <hr/>

  <div class="row text-center">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="enterChatRoom()">我选好了</button>
    </div>
  </div>
  <hr/>

</div>